h1, h2 {
  text-align: center;
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  z-index: 1;
  overflow: hidden;
  height: 100%;
}

body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .7;
  z-index: -1;
  background-image: url("../assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-menu {
  height: 100%;
}

#start-game {
  padding-top: 7%;
}

.menu h2 {
  color: white;
}

#scores, #instructions {
  height: 100%;
  padding-top: 9%;
}

.panel {
  padding: 1rem;
  overflow: auto;
  background-color: rgba(0,0,0,.5);
  color: white;
  border-radius: 10px;
}

#score-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.entries-active {
  overflow: auto;
}

#join-game {
  font-size: 28px;
}

.score-entry {
  padding: 2.5px 0px;
  font-size: 15px;
}

.entries-loading {
  height: 300px;
}

.margin-0 {
  margin: 0;
}

.padding-2-rem {
  padding: 2rem;
}

#end-menu {
  position: absolute;
  top: 30%;
  height: 100%;
  width: 100%;
  z-index: 99;
  display: none;
}

#end-menu h2 {
  color: white;
}

#loading-game {
  display: none;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 30px;
}

#footer a {
  padding: 0 5px;
}